---
import { getEntry, getCollection, render } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { formatDate } from "../helper";
import ThemeIcon from "@/components/ThemeIcon.astro";

export async function getStaticPaths() {
    const writings = await getCollection("writings");
    return writings.map((writing) => ({
        params: { id: writing.id },
        props: { writing },
    }));
}

const { id } = Astro.params;
const entry = await getEntry("writings", id);

if (!entry) {
    throw new Error("Could not find blog post " + id);
}
const { Content } = await render(entry);
---

<Layout title={entry.data.title} description={entry.data.description}>
    <div class="flex items-center justify-between">
        <a
            href="/"
            class="my-5 inline-block text-3xl underline decoration-1 underline-offset-4"
            >Драсканици</a
        >
        <ThemeIcon />
    </div>

    <article>
        <h1 class="m-0 mt-2 text-5xl">{entry.data.title}</h1>
        <p class="m-1">{formatDate(entry.data.date)}</p>
        <div class="prose-lg my-4">
            <Content />
        </div>
    </article>

    {
        (async () => {
            const writings = await getCollection("writings");
            writings.sort(
                (a, b) => b.data.date.getTime() - a.data.date.getTime(),
            );
            const currentIndex = writings.findIndex((w) => w.id === id);
            const prev = writings[currentIndex + 1];
            const next = writings[currentIndex - 1];
            return (
                <div class="my-16 flex justify-between">
                    {prev && (
                        <a
                            href={`/${prev.id}`}
                            class="text-blue-800 underline decoration-1 underline-offset-4 hover:decoration-transparent dark:text-blue-500"
                        >
                            ← {prev.data.title}
                        </a>
                    )}
                    {next && (
                        <a
                            href={`/${next.id}`}
                            class="text-blue-800 underline decoration-1 underline-offset-4 hover:decoration-transparent dark:text-blue-500"
                        >
                            {next.data.title} →
                        </a>
                    )}
                </div>
            );
        })()
    }
</Layout>
